fastapi
Flask[async]
Python-DotEnv
uvicorn
vertexai
google-cloud-aiplatform>=1.38
smskillsdk
pydantic<2 #smskillsdk needs 1.9, google-genai needs > 2

#if use gemini 2
#google-genai
#pydantic>=2
#pydantic-settings
